/*
*
{
    background-color: ghostwhite;
}
div
{
    color: darkslategray;
}
div[role]
{
    color: grey;
}
div[role='article']
{
    color: blueviolet;
}
div[role='main']
{
    background-color: greenyellow;
}
li:nth-child(2)
{
    background-color: darkcyan;
}
li:first-child
{
    color: white;
}
footer a
{
    background-color: yellowgreen;
    text-decoration: none;
    font-weight: bolder;
    font-size: 3em;
}
*/
b~i
{
    background-color: royalblue;
}
#zen-summary
{
    color: blueviolet;
}
.danger
{
    font-size: 30px;
    color: red;
}