*
{
    background-color: darkturquoise;
}
div
{
    color: darkslategray;
}
div[role]
{
    color: grey;
}
div[role='article']
{
    color: blueviolet;
}
div[role='main']
{
    background-color: greenyellow;
}